{% load static %}
<!DOCTYPE HTML>
<html>
<head>
    <title>枣阳市第二人民医院信息管理系统</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="{% static 'css/dpl-min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/bui.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{% static 'js/jquery-1.6.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bui.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main-min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/config-min.js' %}"></script>
    <script type="text/javascript">
    function back(){
  		if(confirm("确认退出")){
    		window.location.href="login.html";
  		}
	}
	BUI.use('common/main',function(){
        var config = [
		{id:'',menu:[
		{text:'快速通道',items:[
		{id:'挂号信息管理',text:'挂号信息管理',href:'{% url 'registration_index' %}'},
		{id:'密码管理',text:'密码管理',href:'{% url 'registration_password' %}'}
		]}
		]}
		];
        new PageUtil.MainPage({
            modulesConfig : config
        });
    });
    </script>

</head>
<body>

<div class="content">
    <div class="dl-main-nav">
        <div class="dl-inform">
            <div class="dl-inform-title"><s class="dl-inform-icon dl-up"></s></div>
        </div>

        <ul id="J_Nav"  class="nav-list ks-clear" style="float:left">
			<li style=" color: #000;font-size: 25px;margin-top: 17px;margin-left: 20px;">山东省第二人民医院管理平台</li>
		</ul>

		<div  style="float: right;color: #F15D0C;margin-top: 22px;margin-right: 21px;font-size: 18px;font-weight: 800;">
            欢迎您，<span class="dl-log-user">张三</span>
            <a href="javascript:void(0)" onclick="back()" id="out"title="退出系统" class="dl-log-quit">[退出]</a>
        </div>
    </div>
	
    <ul id="J_NavContent" class="dl-tab-conten"></ul>
</div>


</body>
</html>